body {
background-size: cover;
}
.heading {
font-size: 23px;
width: 100% !important;
margin: 0px;
}
#start , number_of_objects {
font-size: 18px;
}
.footer {
position: fixed;
bottom: 0;
width: 100%;
background-color: red;
text-align: center;
}